<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/horoscope-modal.ejs') %>
        <%- include('./partials/header.ejs') %>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="text-center text-white my-3 rounded"><span class="text-light">►</span> Big Three Picker
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="bigThreeTable" class="table display nowarp w-100">
                        <thead>
                            <tr>
                                <th>☉ Sun
                                    <%- include('./partials/sign-selector.ejs') %>
                                </th>
                                <th>☽ Moon
                                    <%- include('./partials/sign-selector.ejs') %>
                                </th>
                                <th>↟ Rising
                                    <%- include('./partials/sign-selector.ejs') %>
                                </th>
                                <th>                                    
                                    <button id="refresh_tbl-btn" class="btn btn-outline-light w-100">Refresh Table</button>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scripts.ejs') %>
    </body>

</html>